.DS_Store
*.elc
custom.el
/.cask/24.3.50.1/bootstrap/archives/*
backup/*
auto-save-list/*
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.org-id-locations
ac-comphist.dat
.cask/*
bookmarks
*/#*.*#
*.#*
\#*#
*.*~
dict/*
*~
url/cookies
web-vcs-log.org
org-clock-save.el
projectile-bookmarks.eld
ido.last
elpa/*
tramp
recentf
places
offlineimap.*
*.cert
/custom/ac_semantic.el
/custom/flycheck_setup.el
/custom/xcode_setup.el
/custom/sprintly-mode-setup.el
/custom/sprintly-org/
/mthesaur.txt.cache
/var/
/#init.el#
/.#init.el
/ChangeLog
/init/init-keys.el
/init/init-org-page.el
/from-git/
/init/init-contacts.el
/oauth2.plstore
/url/
/.bookmarks.el
/org-gcal/
/custom.el.before_ecb_2.40
/custom.el.before_ecb_2.40__1
/custom.el.before_ecb_2.40__2
/custom.el.before_ecb_2.40__3
/init/init-proj-manage.el
/init/init-paradox-github.el
/init/init-wakatime.el
