.DS_Store
*.elc
custom/*
custom.el
backup/*
auto-save-list/*
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.org-id-locations
ac-comphist.dat
bookmarks
*/#*.*#
*.#*
\#*#
*.*~
dict/*
*~
url/cookies
web-vcs-log.org
org-clock-save.el
projectile-bookmarks.eld
ido.last
elpa/*
tramp
recentf
places
offlineimap.*
*.cert
/mthesaur.txt.cache
/var/
/oauth2.plstore
/url/
/.bookmarks.el
/org-gcal/
/.smex-items
/os-issues.org
/plantuml.jar
/flycheck_org-clock-save.el
/.type-break
/from-git copy/
/games/
/init-tools/
/type-break
/misc/
/request/
/skewer-cache/
/todo/
/history
/.session
/gitstats/
/abbrev_defs
/eproject.lst
/backupEmacs_Lisp-docset.tgz
/backupEmacs_Lisp-feed.xml
/backupPython_3-docset.tgz
/backupPython_3-feed.xml
/.python-environments/
/newsticker/
/init/textlint.log
/init/textlint.st
/projectile.cache
/snippets
/el-get/
/jabber-history/
/eshell/
/init/init-tabbar.el
/wakatime/
/init/init-wakatime.el
session.*