[submodule "submodules/emacs-async"]
	path = submodules/emacs-async
	url = git://github.com/jwiegley/emacs-async.git
[submodule "submodules/org-sync"]
	path = submodules/org-sync
	url = git://github.com/emacsmirror/org-sync.git
[submodule "submodules/rebox2"]
	path = submodules/rebox2
	url = git://github.com/lewang/rebox2.git
[submodule "submodules/screencast-mode"]
	path = submodules/screencast-mode
	url = git://github.com/esbena/screencast-mode.git
[submodule "submodules/writegood-mode"]
	path = submodules/writegood-mode
	url = git://github.com/bnbeckwith/writegood-mode.git
[submodule "submodules/org-link-minor-mode"]
	path = submodules/org-link-minor-mode
	url = git://github.com/seanohalpin/org-link-minor-mode.git
[submodule "submodules/emacs-request"]
	path = submodules/emacs-request
	url = git://github.com/tkf/emacs-request.git
[submodule "spray"]
	path = spray
	url = git://github.com/ian-kelling/spray.git
[submodule "terminal-notifier"]
	path = terminal-notifier
	url = git://github.com/emacsmirror/terminal-notifier.git
