.DS_Store
/.cask/24.3.50.1/bootstrap/archives/*
backup/*
auto-save-list/*
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.org-id-locations
ac-comphist.dat
.cask/*
bookmarks
*/#*.*#
*.#*
\#*#
*.*~
dict/*
*~
url/cookies
web-vcs-log.org
org-clock-save.el
projectile-bookmarks.eld
ido.last
elpa/*
tramp
recentf
places
offlineimap.*
*.cert
/custom/ac_semantic.el
/custom/flycheck_setup.el
/custom/xcode_setup.el
/custom/sprintly-mode-setup.el
/custom/sprintly-org/
/mthesaur.txt.cache
/var/
/#init.el#
/.#init.el
/ChangeLog
/init/init-keys.el
